<div class="container">
    <h1>Results</h1>
    <div class="card mt-4" *ngFor="let res of result">
        <h2 class="card-header text-center">
            {{res.type | uppercase}}
        </h2>
        <div class="card-body" style="padding: 0;">
            <table class="table card-body">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">N</th>
                        <th scope="col">NNZ</th>
                        <th scope="col">JNZ</th>
                        <th scope="col">JNZ New</th>
                        <th scope="col">JNZ (size)</th>
                        <th scope="col">JNZ New (size)</th>
                        <th scope="col">Size difference</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let r of res.results; let i = index">
                        <th scope="row">{{ i }}</th>
                        <td>{{r.name}}</td>
                        <td>{{r.n}}</td>
                        <td>{{r.nnz}}</td>
                        <td [ngClass]="{'table-danger': r.jnz.solve > r.jnz_new.solve, 'alert-success': r.jnz.solve < r.jnz_new.solve}">{{r.jnz.solve}}</td>
                        <td [ngClass]="{'table-danger': r.jnz.solve < r.jnz_new.solve, 'alert-success': r.jnz.solve > r.jnz_new.solve}">{{r.jnz_new.solve}}</td>
                        <td [ngClass]="{'table-danger': r.jnz.size > r.jnz_new.size, 'alert-success': r.jnz.size < r.jnz_new.size}">
                          {{r.jnz.size | nxtPrettySize}}
                        </td>
                        <td [ngClass]="{'table-danger': r.jnz.size < r.jnz_new.size, 'alert-success': r.jnz.size > r.jnz_new.size}">
                          {{r.jnz_new.size | nxtPrettySize}}
                        </td>
                        <td>{{r.jnz_new.size - r.jnz.size | nxtPrettySize }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
